.body-professor {
    display: flex;
}

.app-professor {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100vw;
}

.app-professor h1 {
    font-family: 'Saira Condensed';
    font-weight: 100;
}

.cadastrar-professor-body {
    display: flex;
}