.modal-professor {
    display: flex;
    width: 700px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #B8B8B8;
    box-shadow: 0px 3px 4px #808080;
    position: absolute;
    top: 150px;
}

.modal-professor-grid {
    display: flex;
    gap: 20px;
}

.add-fase {
    width: 100px;
    height: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px #808080;
    transition: transform 0.3s ease-in;
    cursor: pointer;
    font-weight: 600;
    background-color: #FFF;
    color: #0059F4;
    border-radius: 10px;
}

.add-fase:hover {
    border: 1px solid;
}

.modal-professor-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    height: 60px;
    justify-content: center;
    border-bottom: 1px solid #B8B8B8;
    gap: 38%;
}

.modal-professor-header h2 {
    font-family: 'Saira Condensed';
    font-weight: 400;
    font-size: 23px;
}

.modal-professor-close-icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.modal-professor-close-icon:hover {
    cursor: pointer;
}

.modal-professor-content-professor {
    display: flex;
    flex-direction: column;
    padding: 0 90px;
}

.modal-label-professor {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-family: 'Saira Condensed';
    font-weight: 400;
    font-size: 18px;
}

.professor-select {
    width: 200px;
    height: 25px;
    margin: 10px 0;
}

.modal-professor input {
    background-color: #F4F4F4;
    border: none;
    border: 1px solid #B8B8B8;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    text-align: center;
    font-family: 'Saira Condensed';
}