

ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.list-item-row li {
    display: flex;
    background-color: #55BAFF;
    width: 400px;
    height: 30px;
    margin: 3px;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    text-decoration: underline;
    font-family: 'Saira Condensed';
    cursor: pointer;
}

.list-item-row {
    display: flex;
}

.list-item-box {
    width: 30px;
    height: 30px;
    background-color: #55BAFF;
    align-self: center;
    border-radius: 7px;
    margin: 2px;
    cursor: pointer;
}

.update-icon {
    padding: 7px;
}

.infos-card-materia {
    display: flex;
    width: 340px;
    background-color: #D9D9D9;
    margin: 0 70px;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Saira Condensed';
    font-size: 18px;
}
.infos-card-materia p {
    margin: 0 3px;
}

.infos-card-professor {
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: #D9D9D9;
    margin: 0 70px;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Saira Condensed';
    font-size: 18px;
}

.infos-card-professor-disp {
    display: flex;
    align-items: center;
}

.infos-card-professor-disp span {
    background-color: #55BAFF;
    padding: 0 15px;
    border-radius: 20px;
    margin: 0 5px;
}


.component-card {
    display: flex;
    flex-direction: column;
    
}